# Use this file to create an environment using:
# $ conda create --name env_name -c bioconda  --file <this file>


python>=3.5
graphviz>=2.38.0
pip
Sphinx
jupyter
jupyter_nbextensions_configurator
widgetsnbextension
jupyter_contrib_nbextensions
pandoc
ipython

# NEEDED BY CLI
snakemake>=3.4.2
click
synapseclient>=1.5.1
munch
ruamel.yaml
seaborn
pandas
numexpr
numpy
xlrd
xlwt
